/*########  Change Bootstrap Defaults ########*/
body {
	background: #4b80bb;
}

body > .container {
	margin-bottom: 40px;
}

div.content {
	padding-top: 60px;
	padding-bottom: 30px;
}

* {
	border-radius: 0 !important;
}

.navbar {
	border-radius: 0px;
}

img.plugin {
  margin-top: 40px;
  max-width: 300px;
}

/*########  Special Layouts ########*/

@media (min-width : 992px) {
	
	.panel-6-left {
	  width:49%;
	  margin-right:1%;
	  min-height: 310px;
	}

	.panel-6-right {
	  width:49%;
	  margin-left:1%;
	  min-height: 310px;
	}

	.row.data {
		display: flex;
	}

	.form-horizontal input.form-control {
		width: 65%;
	}

  .link {
    margin-top: 40px;
  }
}

@media (min-width : 992px) and (max-width : 1200px){
  
  .panel-6-left {
    min-height: 325px;
  }

  .panel-6-right {
    min-height: 325px;
  }

}

@media (max-width : 992px) {
  
  .panel-6-right {
    min-height: 320px;
  }

}

.logo-title {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.text-white {
  color: #fff;
}

.text-muted-white {
  color: #ccc;
}
.panel-heading {
	margin-left: -15px;
	margin-right: -15px;
}

.panel-bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin-left: -30px;
}

.row .panel {
	box-shadow: 3px 3px 5px #3d3d3d;
}


.btn span, .btn a{
	color: #fff;
	text-decoration: none;
}

.spinner {
	padding-top: 20px;
}

.dropzone-previews {
  padding: 12px;
  min-height: 160px;
  margin-bottom: 10px;
}

.dropzone-previews h4 {
  padding-top: 40px;
}
.dropzone-previews .dz-preview .dz-details {
  height: 30px;
}

/* ======= Header ======= */
.header {
  padding: 10px 0;
  color: #fff;
  /*position: fixed;*/
  width: 100%;
}
.header.navbar-fixed-top {
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header.navbar-fixed-top .logo a {
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #666666;
}
.header .logo {
  margin: 0;
  font-size: 26px;
  padding-top: 10px;
}
.header .logo a {
  color: #fff;
}
.header .logo a:hover {
  text-decoration: none;
}
.header .main-nav button {
  /*background: #ccc;*/
  color: #fff !important;
  border: 1px solid #fff;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .navbar-collapse {
  padding: 0;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
}
.header .main-nav .nav .nav-item.active a {
  color: #66ccff;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 14px;
  padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  color: #fff;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #fff;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}

/* ======= Footer ======= */
.footer {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.footer .well {
  padding-top: 2px;
}