{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
Config
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">

		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Config
					</h3>
				</div>
				</br>
				<div class="panel-body">
					<div>

					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#peers" aria-controls="home" role="tab" data-toggle="tab">Peers</a></li>
					    <li role="presentation"><a href="#exabgp" aria-controls="profile" role="tab" data-toggle="tab">ExaBGP</a></li>
					    <li role="presentation"><a href="#logs" aria-controls="profile" role="tab" data-toggle="tab">Logs</a></li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="peers">
					    	<br>
					    	<table class="table table-striped">
					    		<thead>
					    			<th>Peer</th>
					    			<th>State</th>
					    			<th>ASN</th>
					    			<th>Prefixes Received</th>
					    			<th>Prefixes Advertised</th>
					    			<th>Action
					    				<i class="fa fa-plus text-success pull-right" style="padding-top: 3px;"></i>
					    			</th>
					    		</thead>
					    		<tbody>
						    		{% for peer in peers %}
						    			<tr>
						    				<td>{{ peer['ip'] }}</td>
						    				<td>
							    				{% if peer.state == 'up' or peer.state == 'connected' %}
							    					<i class="fa fa-circle text-success"></i>
							    				{% else %}
							    					<i class="fa fa-circle text-danger"></i>
							    				{% endif %}
							    			</td>
							    			<td>{{ peer['asn'] }}</td>
							    			<td>-</td>
							    			<td>-</td>
							    			<td>
							    				<i class="fa fa-wrench"></i>
							    				<i class="fa fa-trash-o text-danger"></i>
							    			</td>
						    			</tr>
						    		{% endfor %}
						    	</tbody>
					    	</table>	
					    </div>

					    <div role="tabpanel" class="tab-pane" id="exabgp">
					    	<h4 class="">Status</h4>
				    			<p id="exabgp-state" style="min-height: 30px;">
				    				<span id="status">Loading...</span>
				    				<span id="running" class="hidden">
						    			<button class="pull-right btn btn-default btn-xs command" data-action="reload">Reload</button>
				    					<button class="pull-right btn btn-default btn-xs command" data-action="stop">Stop</button>
						    			<button class="pull-right btn btn-default btn-xs command" data-action="restart">Restart</button>
				    				</span>
				    				<span id="stopped" class="hidden">
						    			<button class="pull-right btn btn-default btn-xs command" data-action="start">Start</button>
				    				</span>
				    			</p>

					    	<h4 class="">Config</h4>

					    	<form class='form' method="POST">

								{{ config_form.hidden_tag() }}
								{{ wtf.form_errors(config_form, hiddens="only") }}

								{{ wtf.form_field(config_form.router_id) }}
								{{ wtf.form_field(config_form.asn) }}
								{{ wtf.form_field(config_form.local_ip) }}

								{{ wtf.form_field(config_form.submit, button_map={'submit': 'primary'}) }}
							</form>
					    </div>

			    	    <div role="tabpanel" class="tab-pane" id="logs">
			    	    	
			    	    	</br>
			    	    	<div class="well clearfix">
			    	    		<div class="col-md-3">
				    	    		<div class="input-group">
			    	    		      <span class="input-group-btn">
			    	    		        <button class="btn btn-default" type="button">Limit</button>
			    	    		      </span>
			    	    		      <input id="limit" type="text" class="form-control" placeholder="50">
			    	    		    </div>
			    	    		</div>
			    	    		
			    	    		<div class="col-md-6">
				    	    		<div class="btn-group" data-toggle="buttons" id="exclude_buttons">
				    	    		  <!-- <span class="input-group-btn"> -->
					    	    		  <label class="btn btn-default active">
					    	    		    <input id="state" type="checkbox" autocomplete="off" checked> State
					    	    		  </label>
					    	    		  <label class="btn btn-default">
					    	    		    <input id="update" type="checkbox" autocomplete="off"> Update
					    	    		  </label>
					    	    		  <label class="btn btn-default">
					    	    		    <input id="notification" type="checkbox" autocomplete="off"> Notification
					    	    		  </label>
					    	    		  <label class="btn btn-default">
					    	    		    <input id="keepalive" type="checkbox" autocomplete="off"> Keepalive
					    	    		  </label>
				    	    		  <!-- </span> -->
				    	    		</div>
				    	    	</div>
			    	    	</div>
			    	    	<div id="log-table">
			    	    		
			    	    	</div>
			    	    </div>


					  </div>

					</div>
			    </div>

			</div>

		</div>


	

		
		
	</div>
</div>




{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
	var url = document.location.toString();
	if (url.match('#')) {
	    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
	} 

	var loading = $('<i class="fa fa-spin fa-2x text-center fa-spinner"></i>');

	// Change hash for page-reload
	$('.nav-tabs a').on('shown.bs.tab', function (e) {
	    window.location.hash = e.target.hash;
	});

	$('button.command').on('click', function(e){
		var button = $(this);
		var action = button.data('action');

		$.ajax({
   			beforeSend: function(){
   				// button.html(loading);
   			},
   			type : "GET",
   			url : "/config/exabgp/" + action,
   			contentType: 'application/text;charset=UTF-8',
   			success: function(resp){
   				console.log(resp);
				$.notify(resp['result'], 'success');

   			}
		});
	});

	function check_exabgp_status(){
		$.ajax({
   			type : "GET",
   			url : "/config/exabgp/status",
   			contentType: 'application/json;charset=UTF-8',
   			success: function(resp){
   				var state = resp['state'];
   				
   				if (state == 'running'){
   					$('p#exabgp-state span#status').html('ExaBGP is currently ' + state);
   					// var timestamp = new Date(resp['last_start']);
   					// $('p#exabgp-state span#status').html('ExaBGP is currently ' + state + ' <small>(since ' + timestamp.toLocaleDateString() + timestamp.toLocaleTimeString() + ')<small>');
   					$('p#exabgp-state span#status').addClass('text-success');	
   					$('p#exabgp-state span#status').removeClass('text-danger');
   					$('p#exabgp-state span#running').removeClass('hidden');
   					$('p#exabgp-state span#stopped').addClass('hidden');
   				} else {
   					// var timestamp = new Date(resp['last_stop']);
   					$('p#exabgp-state span#status').html('ExaBGP is currently ' + state);
   					// $('p#exabgp-state span#status').html('ExaBGP is currently ' + state + ' <small>(since ' + timestamp.toLocaleDateString() + timestamp.toLocaleTimeString() + ')</small>');
   					$('p#exabgp-state span#status').addClass('text-danger');	
   					$('p#exabgp-state span#status').removeClass('text-success');	
   					$('p#exabgp-state span#stopped').removeClass('hidden');
   					$('p#exabgp-state span#running').addClass('hidden');
   				}
   			}
		});
	}
	check_exabgp_status()
	setInterval(check_exabgp_status, 3000);

	function get_logs(exclude, limit){
		$.ajax({
   			type : "GET",
   			url : "/config/logs?limit=" + limit + "&exclude=" + exclude,
   			contentType: 'application/json;charset=UTF-8',
   			success: function(resp){
   				$('div#log-table').html(resp);	
   			}
		});
	}

	$('a[href="#logs"]').on('show.bs.tab', function (e) {
	    var limit = $('input#limit').val() || 50;
	    var exclude = '';
	    get_logs(exclude, limit);
	});

	$('#exclude_buttons input, input#limit').on('change', function(e){
		var limit = $('input#limit').val() || 50;
		var exclude = '';

		$('#exclude_buttons input').each(function(e){
			if (!$(this).prop('checked')) {
				exclude += $(this).attr('id') + ',';
			}
		});
		get_logs(exclude, limit);
	});


</script>

{% endblock %}