{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
Config
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">

		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Config
					</h3>
				</div>
				</br>
				<div class="panel-body">
					<div>

					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#peers" aria-controls="home" role="tab" data-toggle="tab">Peers</a></li>
					    <li role="presentation"><a href="#exabgp" aria-controls="profile" role="tab" data-toggle="tab">ExaBGP</a></li>
					  </ul>

					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="peers">
					    	<br>
					    	<table class="table table-striped">
					    		<thead>
					    			<th>Peer</th>
					    			<th>State</th>
					    			<th>ASN</th>
					    			<th>Prefixes Received</th>
					    			<th>Prefixes Advertised</th>
					    			<th>Action
					    				<i class="fa fa-plus text-success pull-right" style="padding-top: 3px;"></i>
					    			</th>
					    		</thead>
					    		<tbody>
						    		{% for peer in peers %}
						    			<tr>
						    				<td>{{ peer['ip'] }}</td>
						    				<td>
							    				{% if peer.state == 'up' or peer.state == 'connected' %}
							    					<i class="fa fa-circle text-success"></i>
							    				{% else %}
							    					<i class="fa fa-circle text-danger"></i>
							    				{% endif %}
							    			</td>
							    			<td>{{ peer['asn'] }}</td>
							    			<td>-</td>
							    			<td>-</td>
							    			<td>
							    				<i class="fa fa-wrench"></i>
							    				<i class="fa fa-trash-o text-danger"></i>
							    			</td>
						    			</tr>
						    		{% endfor %}
						    	</tbody>
					    	</table>	
					    </div>

					    <div role="tabpanel" class="tab-pane" id="exabgp">
					    	<h4 class="">Status</h4>

					    		{% if config['state'] == 'running' %}
					    			<p class="text-success">
						    			ExaBGP is currently {{ config['state']}} (since {{ config['last_start']|datetimeformat }})
					    		{% else %}
					    			<p class="text-danger">
						    			ExaBGP is currently {{ config['state']}} (since {{ config['last_stop']|datetimeformat }})
								{% endif %}
									</p>
					    		</p>
					    	<h4 class="">Config</h4>

					    	<form class='form' method="POST">

								{{ config_form.hidden_tag() }}
								{{ wtf.form_errors(config_form, hiddens="only") }}

								{{ wtf.form_field(config_form.router_id) }}
								{{ wtf.form_field(config_form.asn) }}
								{{ wtf.form_field(config_form.local_ip) }}

								{{ wtf.form_field(config_form.submit, button_map={'submit': 'primary'}) }}
							</form>
					    </div>
					  </div>

					</div>
			    </div>

			</div>

		</div>


	

		
		
	</div>
</div>




{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
	var url = document.location.toString();
	if (url.match('#')) {
	    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
	} 

	// Change hash for page-reload
	$('.nav-tabs a').on('shown.bs.tab', function (e) {
	    window.location.hash = e.target.hash;
	});
</script>

{% endblock %}