{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
Dashboard
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">
		{% for category, message in get_flashed_messages(with_categories=true) %} 
		<div class="alert alert-{{ category }}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		
		</br>

		<div class="row data">
			<div class="col-md-6 panel panel-6-left panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Latest Updates</h3>
				</div>
				</br>
				<div class="panel-body">
					{% for update in updates %}
						<p>
							<strong>{{ update.type }}:</strong>
							{{ update.peer }} ({{ update['time']|datetimeformat }}) -- 
							{% if update.type == 'state' %}
								{{ update.state }}
							{% elif update.type == 'update' %}
								{{ update['update'] }}
							{% endif %}

						</p>
					{% endfor %}
			    </div>

			</div>

			<div class="col-md-6 panel panel-6-right panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Peers</h3>
				</div>
				</br>
				<div class="panel-body">
					{% for peer in peers %}
						
						<a class="btn btn-default" href="{{ url_for('peer', peer_id=peer['_id']) }}">
							{% if peer.state == 'up' or peer.state == 'connected' %}
								<i class="fa fa-circle text-success"></i>
							{% else %}
								<i class="fa fa-circle text-danger"></i>
							{% endif %}
							<strong>{{ peer.ip }}: </strong> {{ peer.asn }}
						</a>

					{% endfor %}
				</div>
			</div>
		</div>

	

		
		
	</div>
</div>




{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}