{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
Dashboard
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">

		<div class="row data">
			<div class="col-md-6 panel panel-6-left panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Peers</h3>
				</div>
				</br>
				<div class="panel-body">
					{% for peer in peers %}
						
						<a class="btn btn-default" href="{{ url_for('peer', peer_id=peer['_id']) }}">
							{% if not peer.enabled %}
								<i class="fa fa-ban text-danger"></i>
							{% elif peer.state == 'up' or peer.state == 'connected' %}
								<i class="fa fa-circle text-success"></i>
							{% else %}
								<i class="fa fa-circle text-danger"></i>
							{% endif %}
							<img src="{{ url_for('static', filename='images/rtr.png') }}" height=60 width=60>
							</br>
							<strong>{{ peer.ip }} </strong> </br> AS {{ peer.asn }}
						</a>

					{% endfor %}
				</div>
			</div>

			<div class="col-md-6 panel panel-6-right panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Overview</h3>
				</div>
				<div class="panel-body">
					<dl class="">
					  <dt>Prefixes advertised to peers: ({{ overview_counts['prefixes_out_count'] }})</dt>
					  <dd>{{ overview_counts['prefixes_out']|join(', ') }}</dd>
					  <dt>Prefixes received from peers: ({{ overview_counts['prefixes_in_count'] }})</dt>
					  <dd>{{ overview_counts['prefixes_in']|join(', ') }}</dd>
					</dl>
				</div>
			</div>
		</div>

	</div>
</div>




{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
	
</script>

{% endblock %}