{% extends "layout.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
{{ super()}}
{{ peer.ip }}
{% endblock %} 

{% block page_content %}
{{ super() }}


<div class="container">
	
	<div class="col-md-12">

		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						{% if peer.state == 'up' or peer.state == 'connected' %}
							<i class="fa fa-circle text-success"></i>
						{% else %}
							<i class="fa fa-circle text-danger"></i>
						{% endif %}
						Peer: {{ peer.ip }} ({{ peer.asn }})
					</h3>
				</div>
				</br>
				<div class="panel-body">
				    <form class='form well form-inline' method="POST">
		        		{{ peer_form.hidden_tag() }}
		        		{{ wtf.form_errors(peer_form, hiddens="only") }}

		        		{{ wtf.form_field(peer_form.ip_address) }}
		        		{{ wtf.form_field(peer_form.asn) }}
		        		{{ wtf.form_field(peer_form.enabled) }}

						{{ wtf.form_field(peer_form.submit, button_map={'submit': 'primary'}) }}
		        	</form>
					<h5 class="">
						Received Prefixes
					</h5>
					<ul>
						{% for prefix in peer.current_prefixes %}
							<li>{{ prefix }}</li>
						{% endfor %}
					</ul>
			    </div>

			</div>

		</div>

		<div class="row">
			<div class="panel panel-default col-md-12">
				<div class="panel-heading">
					<h3 class="panel-title">Advertised Routes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{% for route in advertised_routes %}
							<li class="list-group-item">
								{{ route.prefix }} -- ({{ route.attributes }})
								<a href="{{ url_for('delete_adv_route', peer_id=peer['_id'], adv_route_id=route['_id']) }}" class="pull-right" data-id="{{ route['_id'] }}">
									<i class="fa fa-times text-danger"></i>
								</a>
							</li>
						{% endfor %}
					</ul>

					<div class="row">
						<form class='form-inline' method="POST">
							{% if route_form.errors %}
							    <ul class="errors">
							        {% for field_name, field_errors in route_form.errors|dictsort if field_errors %}
							            {% for error in field_errors %}
							                <li>{{ route_form[field_name].label }}: {{ error }}</li>
							            {% endfor %}
							        {% endfor %}
							    </ul>
							{% endif %}

							{{ route_form.hidden_tag() }}
							{{ wtf.form_errors(route_form, hiddens="only") }}

							{{ wtf.form_field(route_form.prefix) }}
							{{ wtf.form_field(route_form.next_hop) }}
							{{ wtf.form_field(route_form.origin) }}
							{{ wtf.form_field(route_form.local_pref, class="width80 form-control") }}
							{{ wtf.form_field(route_form.med, class="width80 form-control") }}

							{{ wtf.form_field(route_form.submit, button_map={'submit': 'primary'}) }}
						</form>
				 	</div>
				</div>
			</div>
		</div>

	

		
		
	</div>
</div>




{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
	
</script>

{% endblock %}